*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#bg{
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    
}
#main{
    
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
   position: absolute;
   overflow: hidden;
   transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;

}
#stack{
    position: absolute;
    bottom: 50px;
    font-size:25px;
    right: 20px;
}
#nav{
    width: 100%;
    height: 8%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#l1{
    position: absolute;
    width: 90px;
    height: 3px;
    left: 30px;
    background-color: black;
}
#l2{
    position: absolute;
    width: 90px;
    left: 30px;
    height: 3px;
    top: 38px;
    background-color: black;
}
#nav h1{
    font-size: 28px;
    font-family: gilroy;
    position: absolute;
    left: 48%;
    letter-spacing: -1.5px;
}
#nav #menu{
    position: absolute;
    left: 2%;
    font-size: 25px;
}
#nav #bag{
    position: absolute;
    right: 4%;
    font-size: 25px;
    color: rgb(87, 86, 86);
}
#ldtxt{
    position: absolute;
    width: 40%;
    top: 22%;
    left: 2%;
    height: 70%;
}
#r11{
    width: 35px;
    height: 15%;
    background-color: black;
}
#r1{
    width: 15%;
    height: 35px;
    background-color: black;
}
#rr1{
    position: absolute;
    width: 35px;
    height: 16.5%;
    left: 28.4%;
    top: 5.3%;
    background-color: black;
}
#sq{
    position: absolute;
    top: -36px;
    left: 15%;
width: 35px;
height: 35px;
background-color: black;
}
#pdiv{
    position: absolute;
    transform: rotate(30deg);
    left: 8.2%;
}
#para{
    width: 55px;
	height: 30px;
	transform: skew(30deg);
	background: black;
    position: absolute;
    top: -167px;
    
}
#c1{
    position: absolute;
    top: 5%;
    left: 37%;
    width: 23%;
    height: 26%;
    border: 35px solid black;
    border-radius: 50%;
}
#pdiv2{
    position: absolute;
    transform: rotate(30deg);
    left: 20%;
}
#para2{
    width: 55px;
	height: 30px;
	transform: skew(30deg);
	background: black;
    position: absolute;
    top: -180px;
    
}
#pdiv3{
    position: absolute;
    transform: rotate(-30deg);
    left: 66%;
}
#para3{
    width: 55px;
	height: 30px;
	transform: skew(-30deg);
	background: black;
    position: absolute;
    top: -148px;
    
}
#sc1{
    position: absolute;
    top: -20px;
    left: 63%;
    width: 23%;
    height: 26%;
    border: 35px solid black;
    border-radius: 50%;
}
#white{
    position: absolute;
    top: -20px;
    left: 74.5%;
    width: 23%;
    height: 26%;
    background-color: #ebebeb;
}
#r12{
    position: absolute;
    width: 35px;
    height: 16.5%;
    left: 16.3%;
    top: 25.9%;
    background-color: black;
}
#sc2{
    position: absolute;
    top: 16.5%;
    left: 12%;
    width: 23%;
    height: 26%;
    border: 35px solid black;
    border-radius: 50%;
}
#white2{
    position: absolute;
    top: 21.8%;
    left: 12%;
    width: 23%;
    height: 4.8%;
    background-color: #ebebeb;
}
#white3{
    position: absolute;
    top: 22%;
    left: 10.3%;
    width: 6%;
    height: 23%;
    background-color: #ebebeb;
}
#white4{
    position: absolute;
    top: 15%;
    left: 8.4%;
    width: 20%;
    height: 8%;
    background-color: #ebebeb;
}
#r13{
    z-index: 100;
    position: absolute;
    width: 35px;
    height: 14.5%;
    left: 10.7%;
    top: 42.5%;
    background-color: black;
}
#sc3{
    position: absolute;
    top: 31%;
    left: 35%;
    width: 23%;
    height: 26%;
    border: 35px solid black;
    border-radius: 50%;
}
#white4{
    position: absolute;
    top: 31%;
    left: 35%;
    width: 25%;
    height: 13%;
    background-color: #ebebeb;
}
#sc4{
    position: absolute;
    top: 30%;
    left: 61%;
    width: 23%;
    height: 26%;
    border: 35px solid black;
    border-radius: 50%;
}
#white5{
    position: absolute;
    top: 30%;
    left: 70%;
    width: 25%;
    height: 30%;
    background-color: #ebebeb;
}
#white6{
    position: absolute;
    top: 45%;
    left: 60%;
    width: 10%;
    height: 12%;
    background-color: #ebebeb;
}
#white7{
    position: absolute;
    top: 15%;
    left: 10.4%;
    width: 18%;
    height: 10%;
    background-color: #ebebeb;
}
#r14{
    z-index: 100;
    position: absolute;
    width: 10%;
    height: 35px;
    left: 70%;
    top: 23.5%;
    background-color: black;
}
#sq1{
    position: absolute;
    top: 23.5%;
    left:83%;
width: 35px;
height: 35px;
background-color: black;
}
#pdiv4{
    position: absolute;
    transform: rotate(30deg);
    left: 89.5%;
    top: 24%;
}
#para4{
    width: 52px;
	height: 30px;
	transform: skew(30deg);
	background: black;
    position: absolute;
    
    
}
#r15{
    z-index: 100;
    position: absolute;
    width:35px;
    height: 15%;
    left: 95.5%;
    top: 35%;
    background-color: black;
}
#pdiv5{
    position: absolute;
    transform: rotate(-30deg);
    left: 100%;
    top: 29.3%;
}
#para5{
    width: 55px;
	height: 30px;
	transform: skew(-30deg);
	background: black;
    position: absolute;
    
    
}
#sq3{
    position: absolute;
    top: 23.3%;
    left:108.8%;
width: 35px;
height: 35px;
background-color: black;
}
#r16{
    z-index: 100;
    position: absolute;
    width:20%;
    height: 35px;
    left: 67%;
    top:45%;
    background-color: black;
}
#c11{
    position: absolute;
    top: 60%;
    left: 0%;
    width: 23%;
    height: 26%;
    border: 35px solid black;
    border-radius: 50%;
}
#c12{
    position: absolute;
    top: 60%;
    left: 30%;
    width: 23%;
    height: 26%;
    border: 35px solid black;
    border-radius: 50%;
}
#c13{
    position: absolute;
    top: 60%;
    left: 60%;
    width: 23%;
    height: 26%;
    border: 35px solid black;
    border-radius: 50%;
}
#r17{
    position: absolute;
    width: 35px;
    height: 15%;
    background-color: black;
    top: 82%;
    left: 21%;
}
#r18{
    position: absolute;
    width: 15%;
    height: 35px;
    background-color: black;
    top: 92%;
    left: 11.7%;
}
#numd{
    position: absolute;
    width: 19%;
    height: 20%;
   
  right: 35%;
  top: 15%;
}
#numd h4{
    word-spacing: 55px;
    font-family: gilroy;
    font-weight: 800;
    font-size: 12px;
}
#numd h1{
    word-spacing: 35px;
    font-family: gilroy;
    font-weight: 800;
    position: absolute;
    top: 25%;
    font-size: 30px;
    
}
#numd h3{
    letter-spacing: 10px;
    position: absolute;
    top: 78%;
    left: 20%;
    font-family: gilroy;
    font-weight: 1000;
    font-size: 8px;
}
#zero h1{
    position: absolute;
    top: 18%;
    right: 25%;
    font-size: 70px;
    font-family: gilroy;
    transform: rotate(90deg);
}
#circle{
    position: absolute;
    top: 15%;
    left: 85%;
    width: 8%;
    height: 16%;
    border: 1.5px solid rgb(92, 92, 92);
    border-radius: 50%;
}
#play{
    position: absolute;
    font-size: 35px;
    color: rgb(134, 133, 133);
    top: 35%;
    left: 35%;
    
}
#circle h4{
    position: absolute;
    left: -80%;
    font-family: gilroy;
    font-size: 10px;
    font-weight: 600;
    word-spacing: 5px;
    top: 46%;
    letter-spacing: 1.5px;

}
#txt h3{
    position: absolute;
    top: 60%;
    right: -6%;
    font-family: gilroy;
    font-size: 11px;
    word-spacing: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    transform: rotate(90deg);
}
#rect{
    width: 20%;
    height: 12%;
    background-image: url();
    background-position: center;
    background-size: cover;
    bottom: 10px;
    position: absolute;
    left: 45%;
    
}
#rect h3{
    font-size: 10px;
    font-family: gilroy;
    font-weight: 600;
    position: absolute;
    top: 45%;
    letter-spacing: 1.5px;
    left: 16%;
   word-spacing: 5px;
}
#img{
    height: 90%;
    z-index: 100;
    position: absolute;
    left: 32%;
    top: 15%;
}
